.App {
  font-family: Helvetica;
}

.header {
  grid-area: hd;
  font-family:futura;
  background-color: rgb(10, 73, 150);
  color: lightblue;
  width: 100%;
  z-index: 4;
  padding: 5px;
}

.medbox {
  grid-area: mb;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-gap: 5px;
  padding: 5px;
  justify-items: right;
}

.medlist {
  grid-area: li;
  width: 90%;
  padding: 10px;
  background-color: #38AECC;
  border-radius: 7px;
}

.medform {
  grid-area: mf;
  padding: 10px;
  width: 97%;
  background-color: #D6E9FF;
  border-radius: 7px;
  z-index: 9;
}

.footer {
  grid-area: ft;
  font-family:futura;
  background-color: rgb(10, 73, 150);
  color: lightblue;
  width: 100%;
  z-index: 4;
  padding: 5px;
}

.medcard {
  background-color: #A0AEBF;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  background: #C9D9EF;
  padding: 0px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 350px 50px;
  grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "mb mb mb mb mb li li li li li li li"
    "mf mf mf mf . . . . . . . . "
    "ft ft ft ft ft ft ft ft ft ft ft ft"
  ;
  grid-gap: 10px;
  justify-items: center;
}


/* additional stuff to be exported */


