.App {
  font-family: Helvetica;
}

.header {
  font-family:futura;
  height: 50px;
  background-color: rgb(10, 73, 150);
  color: lightblue;
  width: 100%;
  z-index: 4;
  padding: 5px;
  grid-area: header;
}

.medbox {
  grid-area: medbox;
}

.medlist {
  grid-area: list;
}

.medform {
  grid-area: medform;
}

.footer {
  grid-area: footer;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  background: #C9D9EF;
  padding: 0px;
  grid-template-areas: 
    "header header header"
    "medbox list list"
    "medform . ."
    "footer footer footer"
  ;
  grid-gap: 10px;
}

